body{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2 em;
    background-color: white;
    color: black;
}


footer {
    font-size: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.title-container{
    width: 100%; 
    text-align: center;
    background-color: lightslategrey;
    color: black;
    border-radius: 30px;
    padding: 3px; 
}